
/*
    #5300BF
    #1C0040
    #370080
    #6E00FF
    #6300E6
*/

.colors{
    color:#5300BF;
    color:#1C0040;
    color:#370080;
    color:#6E00FF;
    color:#6300E6;
    color: #8069f2;
    color: #151829;
    color: #0f111d;
    color: #0cdcB9;
    color: #242944;
}

html, body{
    background-color: #151829;
}

.main-bg{
    background-color: #8069f2;
}

.theme-bg-1{
    background-color: #6999f2;
}

.theme-bg-2{
    background-color: #69c6f2;
}

.theme-bg-3{
    background-color: #0cdcB9;
}

.deep-bg{
    background-color: #0f111d;
}

.mediun-dark-bg{
    background-color: #242944;
}

.main-text, a{
    color: #8069f2;
}

.theme-text-1{
    color: #6999f2;
}

.theme-text-2{
    color: #69c6f2;
}

.theme-text-3{
    color: #0cdcB9;
}

a, .drop-menu{
    color: #8069f2 !important;
    cursor: pointer;
}

a:hover, .drop-menu{
    color: #dcd5ff;
}

.mediun-dark-btn{
    background-color: #242944;
    border: 1px solid #242944;
    color: #fff;
}

.theme-btn-1{
    background-color: #8069f2;
    border: 1px solid #8069f2;
    color: #fff;
}

.theme-btn-2{
    background-color: #69c6f2;
    border: 1px solid #69c6f2;
    color: #fff;
}

.theme-btn-3{
    background-color: #0cdcB9;
    border: 1px solid #0cdcB9;
    color: #fff;
}

.main-btn{
    background-color: #8069f2;
    border: 1px solid #8069f2;
    color: #fff;
}

.navbar-dark{
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.main-body{
    height: 100vh;
    overflow-y: auto;
}

.main-menu{
    height: 100vh;
    padding-top: 60px;
    border-right: #0f111d 1px solid;
}

.main-menu .menu-collapse{
    background: #1b1e31;
}
.main-menu .nav-link{
    padding: 15px;
    border-right: 3px solid transparent;
}
.main-menu .nav-item:hover, .main-menu .nav-link:hover, .main-menu .nav-link:hover svg{
    transition: linear 0.2s all;
    color: #dcd5ff !important;
    border-right-color: #0cdcB9;
}

.main-menu .nav-item:hover, .accordion:hover{
    background: #1b1e31;
}

.accordion .collapse .nav-link:hover{
    background: rgba(0,0,0,0.3);   
}

.navigation{
    margin-left: 0px;
    list-style: none;
    padding-left: 0px;
    border: 1px solid #eee;
    border-radius: 3px;
    overflow: hidden;
}

.navigation li a{
    display: block;
    padding: 10px;
    text-align: left;
    text-decoration: none;
}

.navigation li a:hover{
    background: #eee;
}
