.switchButton {
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
    padding: 6px;
    text-align: center;
    font-weight: bold;
}

.switchButton:last-child{
    border-radius: 0px 3px 3px 0px;
}