/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: 0;
}

html body #root{
    height: 100%;
}

body{
    font-family: 'Arial';
    font-size: 14px;
    color: #333;
} */